@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
  }

  .dark {
    /* --background: 240, 5.7%, 10.4%; */
    --background: 240, 5%, 8%;
    --background-light: 240°, 6%, 12%;
    --foreground: 210 40% 98%; /* white */
    --card: 240 7% 12%; /* dark grey */
    --card-foreground: 210 40% 98%; /* white */
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 4% 18%;
    --muted-foreground: 240 2% 68%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    /* --border: 217.2 32.6% 17.5%; */
    --border: 240, 4%, 18%;
    --input: 217.2 32.6% 17.5%;
    --text: 0 0% 98%;
    --text-hover: 0 0% 9%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 343, 84%, 58%;
    --chart-2: 343, 84%, 66%;
    --chart-3: 343, 79%, 73%;
    --chart-4: 343, 79%, 82%;
    --chart-5: 343, 88%, 85%;
    --chart-6: 343, 94%, 89%;
    --text: 240, 2%, 68%;
    --red-1: 343, 84%, 58%;
    --red-2: 355, 90%, 58%;
    --red-3: 329, 70%, 44%;
    --red-4: 343, 84%, 66%;
    --green-1: 142 88% 28%;
    --green-2: 139 65% 20%;
    --green-3: 140 74% 24%;
    --green-4: 137 55% 15%;
    --green-5: 141 40% 9%;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.gradient-background {
  background: radial-gradient(circle at 100% 0%, #051f3c, transparent 60%),
    linear-gradient(65deg, #521425, black 80%);
}
.gradient-background-2 {
  background: radial-gradient(circle at 100% 0%, #ee3a6d, transparent 60%),
    linear-gradient(65deg, #bf2273, #4c0519 50%);
}
.gradient-3 {
  background-image: linear-gradient(
    to right top,
    #17060a,
    #290a11,
    #260910,
    #290a11,
    #17060a
  );
}
.hero-gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(61, 9, 0, 1) 80%,
    rgba(113, 16, 0, 1) 100%,
    rgba(238, 58, 109, 1) 100%
  );
}

.glass-container::before {
  @apply absolute -inset-[10px] -z-10 rounded-xl border border-fuchsia-100/20 bg-fuchsia-200/10 backdrop-blur;
  content: "";
}
.glass {
  @apply -inset-[10px] -z-10 rounded-xl border border-fuchsia-100/20 bg-fuchsia-200/10 backdrop-blur;
}
.hero-ball {
  /* background: radial-gradient(closest-side, #000 82%, rgba(113,16,0,1)); */
  border: 1px solid rgba(238, 58, 109, 1);
  left: -50%;
  width: 200%;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.page-enter {
  animation: fadeIn 0.5s ease-in;
}

.page-exit {
  animation: fadeOut 0.2s ease-out;
}

.hovered-text {
  &:hover {
    color: var(--secondary-foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
